@font-face {
  font-family: 'Glegoo';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/glegoo/v10/_Xmt-HQyrTKWaw25gqOd.ttf) format('truetype');
}
@font-face {
  font-family: 'Glegoo';
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/s/glegoo/v10/_Xmu-HQyrTKWaw2xN4aNAa5t.ttf) format('truetype');
}
